body{
    margin: 0px;
    padding: 0px;
}

main{
    margin: 0px;
    padding: 0px;
}

.container1{
    display: flex;
}

.container1 .col1{
    width: 33.33%;
    height: 30vh;
    background-color: black;
}

.container1 .col2{
    width: 66.67%;
    height: 30vh;
    background-color: crimson;
}

.container2 .row1{
    width: 100%;
    height: 30vh;
    display: flex;
}

.container2 .row1 .col3{
    width: 33.33%;
    height: 30vh;
    background-color: blueviolet;
}

.container2 .row1 .col4{
    width: 33.33%;
    height: 30vh;
    background-color: cadetblue;
}

.container2 .row1 .col5{
    width: 33.33%;
    height: 30vh;
    background-color: darkcyan;
}

.container2 .row2{
    width: 100%;
    height: 30vh;
    display: flex;
}

.container2 .row2 .col6{
    width: 50%;
    height: 30vh;
    background-color: pink;
}

.container2 .row2 .col7{
    width: 50%;
    height: 30vh;
    background-color: violet;
}